*~
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
.DS_Store
CMakeScripts
Debug/
Release/
Win32/

/JudgementDay
/bin
/lib
*.xcuserdatad
/Testing
/CTestTestfile.cmake
/JudgementDay.app
JudgementDay.xcodeproj
#*#
JudgementDay.build

# visual studio files
*.vcxproj
*.vcxproj.filters
*.sln
*.dir/
/.vs
*.VC.opendb
*.VC.db

JudgementDay.zip
